

/*
Some guidelines on media query sizes
360px
480px
600px
768px
900px
1024px
1200px
*/

/**
===============================
===== GENERAL
===============================
**/

body {
    width: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
nav, div, a {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.image-wrap img {
    max-height: 100%;
    max-width: 100%;
}


:root {
    --icon-color: invert(0%) sepia(100%) saturate(0%) hue-rotate(208deg) brightness(101%) contrast(105%); /* #000000 */
    --icon-color-hover: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); /* #FFFFFF */
    --icon-bg-color: #CCCCCC;
    /*--icon-bg-color-hover: #444444;*/
    --icon-bg-color-hover: #000000;
    --icon-border-color: #000000;
    --icon-border-color-hover: #000000;
    /* https://codepen.io/sosuke/pen/Pjoqqp */
}

/**
===============================
===== ICONS
===============================
**/

.sample-icons .icon {
    float: left;
    margin: 2px;
}

.icon {
    position: relative;
    line-height: 0;
    width: 32px;
    height: 32px;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border: none;

    /* hovering */
    transition: background .5s, transform .5s, border-radius .5s, border .5s;
}
.no-touch .icon:hover, .icon.tapped {
    cursor: pointer;
}
.icon img {
    width: 80%;
    filter: var(--icon-color);
    max-width: 100%;
    max-height: 100%;
}

.icon1 {
    width: 100%;
    background: #FFF;
}
.no-touch .icon1:hover, .icon1.tapped {
    background: #000;
}
.no-touch .icon1:hover img, .icon1.tapped img {
    filter: var(--icon-color-hover);
}




.icon5 {
    border: 1px solid var(--icon-border-color);
    background: #FFF;
}
.no-touch .icon5:hover, .icon5.tapped {
    border: 1px solid var(--icon-border-color);
    background: #000;
}
.no-touch .icon5:hover img, .icon5.tapped img {
    filter: var(--icon-color-hover);
}

/* ICON -- Hover */
.no-touch .icon.icon--hover-right:hover, .icon.tapped.icon--hover-right { transform: translate(10px, 0); }
.no-touch .icon.icon--hover-left:hover, .icon.tapped.icon--hover-left { transform: translate(-10px, 0); }
.no-touch .icon.icon--hover-up:hover, .icon.tapped.icon--hover-up { transform: translate(0, -10px); }
.no-touch .icon.icon--hover-down:hover, .icon.tapped.icon--hover-down { transform: translate(0, 10px); }

.no-touch .icon.icon--hover-shadow:hover, .icon.tapped.icon--hover-shadow { box-shadow: 0px 0px 8px #000000; }

.no-touch .icon.icon--hover-circle:hover, .icon.tapped.icon--hover-circle { border-radius: 50%; }
.no-touch .icon.icon--hover-square:hover, .icon.tapped.icon--hover-square { border-radius: 0; }
.no-touch .icon.icon--hover-soft-square:hover, .icon.tapped.icon--hover-soft-square { border-radius: 0; }
.no-touch .icon.icon--hover-round-square:hover, .icon.tapped.icon--hover-round-square { border-radius: 0; }

/* ICON -- Style Variants */

.icon.icon--shadow { box-shadow: 0px 0px 8px #000; }

.icon.icon--circle { border-radius: 50%; }
.icon.icon--square { border-radius: 0; }
.icon.icon--soft-square { border-radius: 10%; }
.icon.icon--round-square { border-radius: 20%; }


/**
===============================
===== BUTTONS
===============================
**/

.button {
    position: relative;
    line-height: 0;
    height: 32px;
    display: grid;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 10px;

    /* hovering */
    transition: background .5s, transform .5s, border-radius .5s, border .5s, padding .5s, width .5s, height .5s;
}
.button:hover {
    cursor: pointer;
}

.button1 {
    background: var(--icon-bg-color);
}
.button1:hover {
    background: var(--icon-bg-color-hover);
    color: #FFF;
}


.button5 {
    border: 1px solid var(--icon-border-color);
}
.button5:hover {
    background: var(--icon-bg-color-hover);
    border: 1px solid var(--icon-border-color);
    color: #FFF;
}


/**
===============================
===== FORMS
===============================
**/

.form {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
    grid-row-gap: 5px;
}
.form__title {

}
.form__field {
    width: 100%;
    display: grid;
}
.form__field--checkbox {
    display: flex;
    align-items: center;
}
.form__actions {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;  
}
.form__actions__submit {

}
.form__actions__cancel {

}

.form__messages {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    width: 100%;
}
.form__messages__message {
    padding: 1px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.form__messages__error {
    background: #dc9ba0;
    border: 1px solid #a8071277;
}
.form__messages__success {
    background: #a4db9b;
    border: 1px solid #1da60577;
}
.form__messages__warn {
    background: #f2e49c;
    border: 1px solid #e0bc0977;
}


/**
===============================
===== DROPDOWN MENU
===============================
**/
.dropdown-menu {
    position: relative;
}
.no-touch .dropdown-menu:hover > .dropdown-menu__items, .dropdown-menu.tapped > .dropdown-menu__items {
    display: grid;
    position: absolute;
    background: #CCC;
}
.dropdown-menu > .dropdown-menu__items {
    display: none;
}
.dropdown-menu__item:first-child {
    border-top: 1px solid #000;
}
.dropdown-menu__item {
    padding: 10px;
    border-bottom: 1px solid #000;
    color: #000;
    transition: background .5s;
    min-width: 100px;
}
.no-touch .dropdown-menu__item:hover, .dropdown-menu__item.tapped {
    background: #000;
    color: #FFF;
}

.dropdown-menu--right {}
.dropdown-menu--right > .dropdown-menu__items {
    right: 0;
}

.dropdown-menu--mobile {}
.dropdown-menu--mobile > .dropdown-menu__items {
    width: calc(200% + 2px);
}

.dropdown-menu--mobile2 {}
.dropdown-menu--mobile2 > .dropdown-menu__items {
    width: 200%;
    left: -100%;
}


/**
===============================
===== DROPIN MENU
===============================
**/
.dropin-menu {}

/**
===============================
===== INLINE MENU
===============================
**/
.inline-menu {}
.inline-menu__items {
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: center;
}
.inline-menu__item {
    display: block;
    height: 100%;
    padding: 5px 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: background .5s;
}
.no-touch .inline-menu__item:hover, .inline-menu__item.tapped {
    background: #000;
    color: #FFF;
}

/**
===============================
===== OTHER
===============================
**/